{% extends 'base.html.twig' %}
{% block title %}Succès{% endblock %}
{% block body %}
<h1>Livre supprimé avec succès !</h1>
    <a href="{{ path('app_accueil') }}">Retour à l'accueil</a>
{% endblock %}